CompileFlags:
  Add:
    - "-std=c++23"
    - "-Wall"
    - "-Wextra"
    - "-Wconversion"
    - "-Wno-sign-conversion"
    - "-Wnonnull"
    - "-Wcast-align"
    - "-Wfree-nonheap-object"
    - "-stdlib=libstdc++"
    - "-fprebuilt-module-path=."

InlayHints:
  Enabled: false